{{>layout/header}}

<h1>Edit Post</h1>

<div class="col-md-12">
    <div class="col-md-4">
        <form>
            <div class="mb-3">
                <label for="id" class="form-label">Post Number</label>
                <!--cannot edit readonly fields-->
                <input type="text" class="form-control"
                    id="id" value="{{post.id}}" readonly>
            </div>
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control"
                    id="title" value="{{post.title}}">
            </div>
            <div class="mb-3">
                <label for="author" class="form-label">Author</label>
                <input type="text" class="form-control"
                    id="author" value="{{post.author}}" readonly>
            </div>
            <div class="mb-3">
                <label for="content" class="form-label">Content</label>
                <textarea class="form-control" id="content">{{post.content}}</textarea>
            </div>
        </form>
        <a href="/" role="button" class="btn btn-secondary">Cancel</a>
        <button type="button" class="btn btn-primary" id="btn-update">Update</button>
        <button type="button" class="btn btn-danger" id="btn-delete">Delete</button>
    </div>

</div>


{{>layout/footer}}