{{>layout/header}}

    <h1>Publish Post</h1>

    <div class="col-md-12">
        <div class="col-md-4">
            <form>
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" class="form-control"
                        id="title" placeholder="Input title">
                </div>

                <div class="mb-3">
                    <label for="author" class="form-label">Author</label>
                    <input type="text" class="form-control"
                        id="author" placeholder="Input author">
                </div>

                <div class="mb-3">
                    <label for="content" class="form-label">Content</label>
                    <textarea class="form-control" id="content"
                        placeholder="Input content"></textarea>

                </div>
            </form>
            <a href="/" role="button" class="btn btn-secondary">Cancel</a>
            <button type="button" class="btn btn-primary" id="btn-save">Publish</button>

        </div>

    </div>

{{>layout/footer}}
